<launch>
    <include file="$(find concert_conductor)/launch/conductor.launch">
        <arg name="concert_name" value="multijob"/>
        <arg name="concert_auto_invite" value="false"/>
    </include>
    <node pkg="concert_careercenter" name="careercenter" type="center.py" output="screen">
        <rosparam file="$(find multiservice_concert)/solution/multijob.yaml" command="load"/>
    </node>
</launch>
